.idea/.gitignore
.idea/fact-check-extension-2.iml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json
.svelte-kit/


# Temporary files
*.tmp

# Log files
*.log

# IDE-specific files
.idea/
.vscode/

# Build artifacts
dist/
build/

# macOS files
.DS_Store

# Image source files
*.xcf

# Node modules
node_modules/

# Node modules
/docs-site/node_modules/
/extension/node_modules/
